// Layout
#map,
#sidebar {
  position: absolute;
}

#map {
  top: 0;
  right: 0;
  bottom: 0;
  left: 20rem;
}

#sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  width: 20rem;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Homepage
.fade {
  opacity: 0;
  transition: opacity 0.3s;
}

.hide {
  display: none !important;
}

.intro-overlay {
  z-index: 10000;
  background: rgba(#000, 0.7);
  display: flex;
  flex-direction: column;
}

// Results page
#list {
  list-style: none;

  li {

  }
}
