@import "node_modules/skeleton-sass-official/skeleton/core/config"; // Skeleton Sass core loader

// import default theme variables
@import "node_modules/skeleton-sass-official/skeleton/themes/fresh/vars"; // theme variable overrides

// http://www.nus.edu.sg/identity/colours.php
$nus-orange: #ef7c00;
$nus-blue: #003d7c;
$nus-gold: #8e774d;
$nus-silver: #908d8d;

$theme-primary: $nus-blue;

$button-primary-background-color: $nus-orange;
$button-primary-hover-background-color: $nus-silver;
$button-primary-hover-border-color: $button-primary-hover-background-color;
