// http://www.nus.edu.sg/identity/colours.php
$nus-orange: #EF7C00;
$nus-blue: #003D7C;
$nus-gold: #8E774D;
$nus-silver: #908D8D;

$theme-primary: $nus-blue;

$button-primary-background-color: $nus-orange;
$button-primary-hover-background-color: $nus-silver;
$button-primary-hover-border-color: $button-primary-hover-background-color;
