// Disable text select.
// Source: https://stackoverflow.com/a/4407335
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.white-svg {
  // Turn it white.
  // Source: https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(192deg)
    brightness(108%) contrast(100%);
}
